<div class="modal fade show" id="myModal" style="display: block; padding-right: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="flex-direction: row; justify-content: space-around;">
            <div>                          
                <div class="modal-header">
                    <h4 class="modal-title">Ordered</h4>
                </div>
                <div class="modal-body">
                    <!-- id="ordered-list" hx-get="https://api.apify.com/v2/key-value-stores/x1Ip3enFHNmJvjOkW/records/INPUT?token=apify_api_token" hx-trigger="load" hx-target="#ordered-list" hx-swap="innerHTML" -->
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          P12345
                          <span class="badge bg-primary rounded-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          P1318199817
                          <span class="badge bg-primary rounded-pill">4</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          PD1817
                          <span class="badge bg-primary rounded-pill">7</span>
                        </li>
                      </ul>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Invoiced</h4>
                    
                </div>
                <div class="modal-body">
                    <!-- id="invoiced-list" hx-get="https://api.apify.com/v2/key-value-stores/x1Ip3enFHNmJvjOkW/records/INPUT?token=apify_api_token" hx-trigger="load" hx-target="#invoiced-list" hx-swap="innerHTML" -->
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true">
                          P12345
                          <span class="badge bg-primary rounded-pill">3</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true">
                          P1318199817
                          <span class="badge bg-primary rounded-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true">
                          PD1817
                          <span class="badge bg-primary rounded-pill">25</span>
                        </li>
                      </ul>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>


            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Descrepency</h4>
                </div>
                <div class="modal-body" style="height: 162px; width: 158px; background-color: red;">
                    <!-- id="invoiced-list" hx-get="https://api.apify.com/v2/key-value-stores/x1Ip3enFHNmJvjOkW/records/INPUT?token=apify_api_token" hx-trigger="load" hx-target="#invoiced-list" hx-swap="innerHTML" -->
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>



            
        </div>
    </div>
</div>