/*Change Table Filters to Orange*/

#view_7737 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a,
#view_7857 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
  	background-color: #FFA100;
  	color: #FFFFFF;
  	font-weight: bold;
}




