/*Remove Grey Background For Detail Views*/

#view_7892 .kn-detail-label {background-color: transparent;}
#view_7864 .kn-detail-label {background-color: transparent;}
#view_7893 .kn-detail-label {background-color: transparent;}
#view_7865 .kn-detail-label {background-color: transparent;}
#view_7933 .kn-detail-label {background-color: transparent;}
#view_8091 .kn-detail-label {background-color: transparent;}

/*Change Grid Filter Button Colour To Orange

#view_7904 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
  background-color: #ffa100;
  color: #ffffff;
  font-weight: bold;
}

/*Change Report Filter Button Colour To Orange

#kn-report-view_7947-1 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
	background-color: #FFA100;
  	color: #FFFFFF;
  	font-weight: bold;
}

#kn-report-view_7947-2 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
	background-color: #FFA100;
  	color: #FFFFFF;
  	font-weight: bold;
}

#kn-report-view_7947-3 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
	background-color: #FFA100;
  	color: #FFFFFF;
  	font-weight: bold;
}

#kn-report-view_7947-4 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
	background-color: #FFA100;
  	color: #FFFFFF;
  	font-weight: bold;
}




