#view_7626 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(n) > a {
  background-color: #ffa100;
  color: #ffffff;
  font-weight: bold;
}

#view_5662 .kn-detail-label {
  background-color: transparent;
}


/* Expand modal pop-up, pre-fill new hire details */
.Modal_for_scene_2433 {
    width: 90%;
    height: 90vh;
}

