#serviceVisitsTable td,th {
    border: 1px solid black; 
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltipDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}