#serviceVisitsTable td,th {
    border: 1px solid black; 
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltipDiv {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border:1px solid black;
}